<div id="header" class="container">
    <br>
    <h1>My Contacts</h1>
    <br>
    <hr>
    <br>
    <h4>You can find me on Facebook, Email, LinkedIn Instagram or directly on my phone number, And you can also see some of my finished exercises on my github</h4>
    <br>
    <hr>
    <br>
    
</div>

<div class="container">
    <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email: aardzanliev@gmail.com</h5>
    <h5><i class="fa fa-facebook-official" aria-hidden="true"></i> <a class="links" href="https://www.facebook.com/antonio.ardzanliev"> Facebook</a></h5>
    <h5><i class="fa fa-linkedin-square" aria-hidden="true"></i> <a class="links" href="https://www.linkedin.com/in/antonio-ardzanliev-a9a0491bb/"> LinkedIn</a></h5>
    <h5><i class="fa fa-instagram" aria-hidden="true"></i> <a class="links" href="https://www.instagram.com/antonio.ardzanliev/?hl=en"> Instagram</a></h5>
    <h5><i class="fa fa-github" aria-hidden="true"></i> <a class="links" href="https://github.com/antonyz-a/End-to-End-Exercises"> Github</a></h5>
    <h5><i class="fa fa-mobile" aria-hidden="true"></i> Phone Number: +389 72 206 275</h5>
    <br>
    <br>
    <br>
</div>