<div class="container">

    <div id="header">
        <br>
        <br>
        <h1>
            Welcome to my Portfolio
        </h1>
        <br>
        <br>
        <h3>Antonio Ardzanliev</h3>
        <hr>
        <br>
    </div>
    <div id="body">
        <h2>Info:</h2>
    <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> Date of Birth: 02/06/1996</h5>
    <h5><i class="fa fa-mars" aria-hidden="true"></i> Gender: Male</h5>
    <h5><i class="fa fa-flag-o" aria-hidden="true"></i> Nationality: Macedonian/citizen of the Republic of Macedonia</h5>


    <h5> <i class="fa fa-map-marker" aria-hidden="true"></i> Home: Gevgelija and Skopje, Macedonia</h5>
    <br>
    <br>
    
    <br>
    <br>
    <br>
    </div>

    <div id="image">
        <img [src]="homeImage" alt="profile image">
    </div>
    <br>
    <br>
    <div id="footer">
        <h6>See my <a routerLink="/about">Education and Training</a> for information about my skills and programming
            knowledge</h6>
        <p>OR</p>
        <h6><a routerLink="/contact">My contacts</a> to contact me</h6>
        <br>
        <br>
    </div>
    
    

</div>